@model IEnumerable<ProdigiousTest.Web.Models.ProductModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <h3>@item.Name</h3>
            @if (item.ThumbNailPhoto != null)
            {
                var base64 = Convert.ToBase64String(item.ThumbNailPhoto);
                var imgSrc = $"data:image/gif;base64,{base64}";
                <img src="@imgSrc"/>
            }

            <p>Price: @item.ListPrice</p>
            @if (item.ProductNumber != null)
            {
                <p>Sku: @item.ProductNumber</p>
            }
            @if (item.Size != null)
            {
                <p>Size: @item.Size</p>
            }
            @if (item.Weight != null)
            {
                <p>Weight: @item.Weight</p>
            }
            <p>@Html.ActionLink("View", "View", "Home", new { productId = item.ProductID},new {@class= "btn btn-default" })</p>
        </div>
    }
</div>